# Verification


## Properties

Name | Type | Description | Notes
------------ | ------------- | ------------- | -------------
**hash** | **string** |  | [default to undefined]
**hashScheme** | [**HashScheme**](HashScheme.md) |  | [default to undefined]
**signature** | **string** |  | [default to undefined]
**signatureScheme** | [**SignatureScheme**](SignatureScheme.md) |  | [default to undefined]
**signer** | **string** |  | [default to undefined]
**data** | [**VerificationAllOfData**](VerificationAllOfData.md) |  | [default to undefined]

## Example

```typescript
import { Verification } from './api';

const instance: Verification = {
    hash,
    hashScheme,
    signature,
    signatureScheme,
    signer,
    data,
};
```

[[Back to Model list]](../README.md#documentation-for-models) [[Back to API list]](../README.md#documentation-for-api-endpoints) [[Back to README]](../README.md)
